// colors
$white: #fff;
$white2: #F5FBF2;
$white3: #FAFAFA;

$black: #1C121F;
$black3: #242424;
$purple: #8613A5;
$yellow2: #FDD307;

$blue: #2D4068;
$blue2: #3D68C2;
$gray: #D9D9D9;
$gray2: #888888;
$orange: #FF9501;
$red: #E03054;
$yellow:#FFCE4E;
;

// media
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_lg3: 'max-width: 900px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';